:root {
  --text-color: #1b2430;
  --secondary-text-color: #55587d;
  --primary-color: #712b75;
  --primary-color-light: #eadfea;
  --accent-color: #c74b50;
  --shadow: 0 4px 12px rgba(27, 36, 48, 0.15);
}

body {
  font-family: "Assistant", sans-serif;
  background-color: #faf9fa;
}

h1 {
  color: var(--text-color);
  font-size: 54px;
  /* text-align: center; */
  margin: 20px 0 15px;
}

.heading-strong {
  color: var(--primary-color);
  font-size: 54px;
}

h2 {
  color: var(--secondary-text-color);
  font-size: 34px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0;
}
h3 {
  color: var(--text-color);
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h6.card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin: 0;
  color: white;
}

article h5 {
  color: var(--secondary-text-color);
  font-weight: 600;
}
.article-shadow {
  box-shadow: var(--shadow);
}

.position-company {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  color: var(--primary-color-light);
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out !important;
}
a.nav-link {
  color: var(--secondary-text-color) !important;
}
a.nav-link.active {
  color: var(--text-color) !important;
  font-weight: 500 !important;
}
.primary-btn-custom {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px 16px;
  margin: 20px 20px 0 0;
  box-shadow: var(--shadow);
  text-transform: capitalize;
}

.primary-btn-custom:hover {
  background-color: #46244c;
  border: 1px solid #46244c;
  color: white;
}

.secondary-btn-custom {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 16px;
  margin: 20px 20px 0 0;
  border-radius: 8px;
  text-transform: capitalize;
}

nav .secondary-btn-custom {
  margin: 0;
  padding: 8px 12px;
  color: var(--primary-color) !important;
}

nav .secondary-btn-custom:hover {
  margin: 0;
  padding: 8px 12px;
  color: white !important;
}

.secondary-btn-custom:hover {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.card-button {
  background-color: var(--primary-color-light);
  color: var(--text-color);
  font-weight: 600;
}
.card-button:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.card-text-custom {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.4;
}
.custom-link {
  /* display: block; */
  font-size: 18px;
  font-weight: 600;
  color: var(--accent-color);
  margin: 10px;
  text-align: center !important;
}
.custom-link:hover {
  color: #85292c;
  text-decoration: underline;
}

h5 .custom-link {
  color: var(--accent-color);
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

h5 .custom-link:hover {
  color: #85292c;
  text-decoration: underline;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.main-info-item {
  max-width: 900px;
  padding: 20px;
  border-radius: 8px;
  background-color: hsl(300, 10%, 98%);
  /* box-shadow: var(--shadow); */
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.overline-custom {
  color: var(--accent-color);
}

.shadow-custom {
  box-shadow: var(--shadow);
}

img.img-custom {
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 250ms ease-in-out;
}

img.img-custom:hover {
  position: relative;
  top: -4px;
  left: 4px;
}

.advantage-card {
  background-color: var(--primary-color-light);
  padding: 35px 40px;
  /* border-radius: 8px 0 0 8px; */
  transition: all 250ms ease-in-out;
}
.advantage-card p {
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
}
.advantage-card:hover {
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
}
.advantage-card:hover h4 {
  color: white;
}
.advantage-card:hover p {
  color: var(--primary-color-light);
}
.nav-pills .nav-link.active {
  color: white !important;
  background-color: var(--primary-color) !important;
}
.nav-pills-bg-soft {
  background-color: var(--primary-color-light) !important;
  padding: 12px 0;
  border-radius: 8px;
}

.nav-pills-bg-soft .nav-link {
  color: var(--primary-color) !important;
}

.fa-linkedin,
.fa-square-behance,
.fa-square-dribbble {
  font-size: 35px;
  line-height: 1.6;
  padding: 0 15px;
  color: var(--accent-color);
  transition: all 200ms ease-in-out;
}

.fa-linkedin:hover,
.fa-square-behance:hover,
.fa-square-dribbble:hover {
  color: #85292c;
}

h5 .fa-linkedin {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 992px) {
  h1,
  .heading-strong {
    font-size: 32px;
    margin: 0;
  }
  h2 {
    font-size: 22px;
    margin: 15px 0 0;
  }
  .main-info-item {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .img-custom {
    max-width: 60%;
  }
}

/* Work experience styles */

.dates {
  font-size: 22px;
  line-height: 1.6;
  font-weight: 300;
  color: var(--secondary-text-color);
}

.my-position {
  font-size: 22px;
  line-height: 1.6;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0;
}

.company {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
}

.list-group-item-custom {
  background-color: #faf9fa !important;
}

.list-group-item-custom-accordion {
  background-color: #46244c;
  color: white;
  border-bottom: 1px solid #faf9fa31 !important;
}

.list-group-item-custom-accordion:last-of-type {
  border: none !important;
}

.contact-section {
  background-color: hsl(358, 53%, 95%);
}

/* ------------------------------------ Accordion --------------------- */

.accordion-button {
  background-color: #46244c !important;
  color: white !important;
  font-size: 22px;
  font-weight: 600;
  border-radius: 0 !important;
  box-shadow: 0 6px 16px rgba(27, 36, 48, 0.1) !important;
  box-shadow: none !important;
}
.accordion-button.collapsed:hover {
  background-color: #46244c !important;
}
.accordion {
  background-color: #faf9fa !important;
  border: 0 !important;
}
.accordion-item {
  background-color: #faf9fa !important;
  border: 0 !important;
}
.accordion-button.collapsed {
  background: var(--primary-color) !important;
  border-radius: 2px !important;
}

.accordion-button::after,
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-body {
  background-color: #46244c;
  border-radius: 0;
  color: #faf9fa;
}
